* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font: 500 1.1rem/1.4 Arial, Helvetica, sans-serif;
    background-color: #0C3469;
}

.container {
    max-width: 68rem;
    padding: 2.5rem;
    margin-inline: auto;
}

form {
    width: 100%;
    display: flex;
    gap: 0.75rem;
    flex: 1;
}

label {
    display: none;
}

input {
    appearance: none;
    width: 100%;
    padding: .75rem 1rem;
    border-radius: .5rem;
    border: 2px solid transparent;
    outline: 1px solid rgb(96, 132, 179);
    flex: 1;
}

input:focus,
input:hover {
    border: 2px solid #8EB5E8;
    outline: 1px solid #0C3469;
}

button {
    color: white;
    padding: .5rem .75rem;
    border-radius: .5rem;
    outline: none;
    border: 1px solid transparent;
    background-color: rgb(86, 131, 190);
}

button:focus,
button:hover {
    outline: 1px solid #8EB5E8;
    background-color: rgb(50, 97, 158);
}

/* LIST-WRAPPER */
div.list-wrapper {
    margin-block: 2rem;
}

ul.list {
    list-style: none;
    margin-block: 1.5rem;
}

.list li {
    padding: .5rem;
    margin-bottom: .5rem;
    border-radius: .5rem;
    background-color: #ffebc69a;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.list li p {
    max-width: 60rem;
}

.list li.checked p {
    text-decoration: line-through;
    color: blanchedalmond;
}

.list li span.delete {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: auto;
    background: url(../../icons/delete.svg) no-repeat center/cover;  
}

.show-tasks {
    display: block;
}