@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(70, 142, 236);
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
}

header {
    color: white;
    text-align: center;
    margin-top: 1.25rem;
}

section {
    background-color: white;
    border-radius: 0.625rem;
    margin: auto;
    padding: 0.93rem;
    margin-top: 0.93rem;
    margin-bottom: 0.93rem;
    width: 31.25rem;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

div {
    margin-bottom: 0.9rem;
    text-align: center;
}

div input#button {
    padding: 0.7rem;
    border: none;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    background-image: linear-gradient(to right, rgb(146, 162, 197), rgb(48, 35, 165));
    color: white;
}

 h1, p {
    margin-bottom: 1rem;
}

mark#green {
    background-color: rgba(79, 219, 79, 0.815);
}

mark#red {
    background-color: rgba(252, 28, 28, 0.719);
}

img {
    width: 1.6rem;
}
footer {
    color: white;
    font-style: italic;
    text-align: center;
    margin: 0.93rem;
}