@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(127, 160, 231);
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
}

header {
    color: white;
    text-align: center;
    margin-top: 1.25rem;
}

section {
    background-color: white;
    border-radius: 0.625rem;
    margin: auto;
    padding: 0.93rem;
    margin-top: 0.93rem;
    margin-bottom: 0.93rem;
    width: 31.25rem;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

div {
    margin: 0.4rem;
}

div#sel {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

div#sel p {
    margin: 0.4rem;
}

label#list {
    display: none;
}

input#addBtn, input#finBtn, input#limBtn {
    padding: 0.1rem 0.4rem;
}

select#flista {
    width: 9rem;
}

div#res p {
    margin-bottom: 0.75rem;
}

footer {
    color: white;
    font-style: italic;
    text-align: center;
    margin: 0.93rem;
}